/* About Page*/

.about-me .hero {
  padding-bottom: 0;
}

.about-me header {
  padding-bottom: 0;
}

.photo img {
  width: 100%;
}

.about {
  margin: auto;
  width: 56.4236111111111%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.moodboard img {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

/*Media Queries*/
@media screen and (max-width: 783px) {
  .about {
    width: 100%;
    display: block;
    padding: 3rem;
  }
