.about-me .hero {
  height: 100%;
  margin: auto;
  text-align: center;
}

.about-me header {
  padding-bottom: 0;
  background: none;
}

.photo img {
  width: 100%;
}

.about {
  margin: auto;
  width: 65%;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.capabilities {
  padding: 5rem 0;
  background: rgb(102,191,145);
  background: linear-gradient(166deg, rgba(129,241,183,0.67) 0%,
  rgba(255,211,213,0.78) 65%,
  rgba(251,234,89,0.38) 100%);
}

.capabilities .caps {
  margin: auto;
  width: 65%;
  display: block;
  height: 100%;
}

.capabilities div {
  width: 48%;
}

.capabilities .skills {
  display: inline-block;
  float: left;
  padding-right: 1rem;
  margin-right: .5rem;
}

.capabilities .software {
  display: inline-block;
  float: right;
  position: relative;
  padding-left: 1rem;
  margin-left: .5rem;
}

.moodboard {
  padding: 5rem 0;
}

.moodboard h2 {
  margin: auto;
  width: 65%;
}

.moodboard img {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
  .about, .hero {
    width: 80%;
    display: block;
  }

  .capabilities .skills, .capabilities .software {
    display: block;
    width: 100%;
    padding: 0;
  }

  .moodboard h2 {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .first, .second {
    padding: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .about-me .hero {
    padding: 0;
  }

  .photo img {
    width: 180%;
    float: right;
    padding-bottom: 5rem;
  }

  button {
    margin-bottom: 1rem;
  }

}
