header.about-me {
    background: none;
}

.intro {
  padding-top: 5rem;
  width: 95%;
  margin: auto;
}

h3::after {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  margin-top: -15px;
  margin-left: 2px;
}

h4 {
  margin-top: 0;
}

.first, .second {
  width: 50%;
}

#images {
  position: ;
}

img {
  opacity: .2;
}

img:hover {
  opacity: 1;
}

.capabilities {
  background: rgb(102,191,145);
  background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

.caps {
  margin: auto;
  display: block;
}

.caps .first  {
  padding-right: .5rem;
}

.caps .second {
  padding-left: .5rem;
}

.moodboard {
  padding: 5rem 0;
}

.moodboard h2 {
  margin: auto;
  width: 65%;
}

.moodboard img {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
  .about-text {
    width: 100%;
  }

  .first, .second {
    display: block;
  }

  .moodboard h2 {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .first, .second {
    padding: 1rem;
  }

  .one-third .first, .one-third .second {
    padding: 0;
  }
}

@media screen and (max-width: 600px){
  .one-third {
    width: 100%;
    padding-bottom: 3rem;
  }
  .one-third .first, .one-third .second {
    width: 25%;
  }

  .two-thirds {
    width: 100%;
  }

  .first, .second {
    width: 100%;
    padding: 0;
  }

  .caps .second {
    padding-left: 0;
  }

}

@media screen and (max-width: 425px) {
  .about-me .hero {
    padding: 0;
  }

  .photo img {
    width: 180%;
    float: right;
    padding-bottom: 5rem;
  }

  .one-third .first, .one-third .second {
    width: 25%;
  }

  button {
    margin-bottom: 1rem;
  }
}
