header {
  padding-bottom: 0;
}


.hero-text {
  padding: 5rem 0;
  width: 65%;
  margin: 0 auto;
}

h3 {
  color: #59334B;
}


/* images */
.second {
}

/* page sizes*/


/*competition
.competition .inspo {
  width: 80%;
  padding: 0;
  margin: 0 auto;
  float: none;
}

.competition p {
  clear: both;
}

/* navigation */
.arrows {
  width: 95%;
  margin: auto;
}

.arrows img {
  height: 25px;
}

.left {
  width: 50%;
  float: left;
}
.right {
  float: right;
  width: 50%;
  text-align: right;
}

.case-studies {
  width: 65%;
  margin: auto;
}

.navigation .case-studies .first {
  padding: 3rem;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: #333333;
  width: 48%;
  display: inline-block;
  /*background: rgb(89,51,75);
  background: linear-gradient(166deg, rgba(89,51,75,1) 0%,
  rgba(165,137,154,1) 62%, rgba(89,51,75,1) 100%);*/
}

.navigation .case-studies .second {
  padding: 3rem;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: #333333;
  width: 48%;
  display: inline-block;
  /*background: rgb(229,58,32);
  background: linear-gradient(112deg, rgba(229,58,32,1) 0%, rgba(212,176,140,1) 38%,
  rgba(172,216,217,1) 100%);*/
}

#contact {
  padding: 3rem 0;
  background: none;
}

@media screen and (max-width: 768px) {
  .case-hero img {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 425px) {


}
