.contact-me .hero {
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 20vh 0px;
}

.hero .contact-icons {
  float: left;
  padding-left: 5rem;
}

.hero .contact-icons li {
  display: inline-block;
}

.hero .contact-icons li a i {
  font-family: FontAwesome;
  font-size: 5rem;
}

.hero .contact-icons li a i:hover {
  color: #950444;
}
