header, .prototype {
  background: rgb(172,216,217);
  background: linear-gradient(132deg, rgba(172,216,217,1) 27%,
  rgba(212,176,140,1) 80%, rgba(224,106,77,1) 100%);
}

/* images */
.full {
  padding: 0 2rem 2rem;
}

/* page sizes*/
.intro h2, .intro h3, .intro p, .user-research li, .conclusion,  .info-arch h3,
.info-arch h2, .info-arch p, .sketch h2, .sketch h3, .branding h2, .branding h3,
.prototype h2, .prototype h3, .prototype p, .membership p, h4, .users h3 {
    margin: 0 auto;
    width: 65%;
}

.intro-text, .competition, .user-research, .users-container, .info-arch-container, .sketching,
.prototype-container, .conclusion-container {
  padding: 5rem 0;
  clear: both;
}

/*intro */
.intro-text {
  background: rgba(224,106,77,1);
  color: white;
}

.competition { /* maybe the gradient but inverse? */
  background: rgba(212, 176, 140, 0.33);
}

.inspo li {
  display: block;
}


/* user research*/
.user-research p {
  clear: both;
}

.environment {
  background: rgb(172,216,217);
  background: linear-gradient(132deg, rgba(172,216,217,1) 27%, rgba(212,176,140,1) 80%,
  rgba(224,106,77,1) 100%);
}

.environment-container {
  margin: auto;
  width: 80%;
  display: block;
  height: 100%;
  padding: 5rem 0;
}

.environment .first, .environment .second {
  width: 48%;
  display: inline-block;
}

.environment p {
  margin: 0;
}

.environment .first {
  float: left;
}

.environment .second {
  float: right;
  position: relative;
}

.environment ul.survey {
  width: 100%;
}

.environment li {
  display: list-item;
}

/* users */
.user-boxes {
  width: 80%;
  margin: auto;
  display: block;
}

.john .second, .elaine .first, .marta .second {
  padding: 1rem;
  padding-bottom: 5rem;
  display: none;
}

/*information architecture*/
.info-arch {
  background: rgba(212, 176, 140, 0.33);
}

#smaller {
  height: 300px;
  width: auto;
  margin-left: 3rem;
}

.mapping-img {
  width: 80%;
  margin: auto;
}

/* sketch */
.sketch {
  background: rgb(224, 105, 76);
  color: white;
}

/*branding*/
.branding-container {
  padding: 5rem 0;
}

.final-logos {
  width: 65%;
  display: block;
  margin: auto;
}

.final-logos img {
  padding-left: 4rem;
  padding-right: 4rem;
}

.coop-logo-formation {
  width: 40%;
  margin: 0 auto;
  display: block;
  padding: 1rem;
}

.colors {
  clear: both;
  width: 100%;
}

.colors ul {
  padding: 0;
  float: none;
  width: 65%;
  margin: auto;
}

.colors li {
  display: block;
}

.colors .third {
  padding: 0;
}

.other-branding {
  clear: both;
  width: 65%;
  margin: auto;
  display: block;
}

.type h3 {
  width: 100%;
}

ul.type-fonts {
  padding: 0;
}

.type li {
  padding-bottom: 2rem;
  display: block;
}

.h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 28px;
}

.body {
  font-family: 'Lora', serif;
}


/* prototype */
.prototype-images {
  clear: both;
  width: 80%;
  padding: 0;
  margin: 0 auto;
  float: none;
}

.prototype li {
  display: block;
}

.prototype .third {
  padding: 0 0 2rem;
}

.onboard-img {
  width: 80%;
  margin: auto;
}

.membership {
  clear: both;
}



/* Media Queries */
@media screen and (min-width: 600px) {
  .inspo {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .hero-text, .intro h2, .intro h3, .intro p, .conclusion, .competition p,
  .competition h3, .user-research, .info-arch h3, .branding h2, .branding h3,
  .info-arch h2, .info-arch p, .sketch h2, .sketch h3, .conclusion,
  .prototype h2, .prototype h3, .prototype p, .users h3, .user-feedback, .environment-container {
    width: 80%;
    margin: auto;
  }

  .first, .second {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    float: left;
    padding:1rem;
  }

  .more-full, .full, .third, .final-logos,  {
    width: 100%;
    float: none;
    clear: both;
    padding: 1rem;
  }


  .competition .inspo {
    clear: both;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .user-boxes {
    width: 80%;
    margin: auto;
  }


  .environment .first, .environment .second {
    display: block;
    width: 100%;
    padding-left: 0;
   }

  .environment ul {
    float: left;
  }

  .environment p {
    font-size: 20px;
    line-height: 30px;
  }

  .john .second, .elaine .first, .marta .second {
    display: none;
  }

  .colors ul {
    padding: 0;
    margin: 0;
  }

   .colors img {
    width: 50%;
  }

  .final-logos img {
    padding: 1rem 2.5rem;
    width: 50%;
  }

  .coop-logo-formation {
    width: 60%;
  }

  .type, .type h3 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul.type-fonts {
    float: left;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .case-hero {
    padding: 0;
  }

  p, .options li {
    font-size: 16px;
    line-height: 25px;
  }

  .hero-text {
    padding: 0;
    padding-bottom: 2rem;
  }

  .intro-text, .user-research li,
  .conclusion-container,  .info-arch h3, .info-arch h2, .info-arch p,
  .membership p, h4 {
      width: 100%;
      margin: auto;
  }

  .intro-text h2, .intro-text p, .competition, .user-research, .users, .mapping, .flows, .sketching,
  .case-logos, .colors, .other-branding, .prototype-container, .conclusion-container {
    padding: 1rem 0;
  }

  .sketch h2, .sketch h3, .branding h2, .branding h3 {
    width: 80%;
    margin: auto;
  }

  .user-research {
    margin: 0;
    width: 100%;
  }

  .user-research li span {
    font-size: 20px;
  }

  .user-boxes img {
    padding: 1rem 0;
  }


  .environment {
    padding: 0;
  }

  .environment .first ul, .user-research .second ul {
    padding: 0;
  }

  .type, .type h3 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .type li {
    padding: 1rem 0;
  }

  .first, .second {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    float: left;
    padding: 1rem;
  }

  .full {
    padding: 0;
  }

}
