header {
  background: none;
}
.prototype {
  background: #afd8db;
  background: linear-gradient(to right, #afd8db 0%, #376082 100%);
}

h3 {
  color: black;
}

.hero-image {
  background: linear-gradient(to right, #afd8db 0%, #376082 100%);
}



/* images */


/*intro */
.introduction, .intro {
  width: 100%;
  margin: auto;
}

.intro {
  /*background: rgb(55, 96, 130);
  color: #eaeaea;*/
}

.competition {
  background-color: #afd8db70;
  width: 100%;
  margin: auto;
}

.inspo li {
  display: block;
}


/* user research*/
.user-research {
  width: 100%;
  margin:
}

.user-research ul {
  padding: 2rem 0;
}

.user-research li {
  font-size: 20px;
  line-height: 40px;
  display: block;
}

/*challenges & solutions */
.environment {
  width: 100%;
  margin: auto;
  color: white;
  background: rgb(229,58,32);
  background: linear-gradient(to right, #afd8db 0%, #376082 100%);
}

.environment h3 {
  color: white;
}

.environment p {
  margin: 0;
}

.environment .first {
  float: left;
}

.environment .second {
  float: right;
  position: relative;
}

.environment ul.survey {
  width: 100%;
}

.environment li {
  display: list-item;
}

/* users*/
.users {
  width: 100%;
  margin: auto;
  display: block;
}

.john .second, .elaine .first, .marta .second {
  padding: 1rem;
  padding-bottom: 5rem;
  display: none;
}

/*information architecture*/
.info-arch {
  background: #afd8db70;
  width: 100%;
  margin: auto;
}
.info-arch .zoom {
    transition: transform .2s; /* Animation */
}

.info-arch .zoom:hover {
    transform: scale(1.5);
}
/* sketch */
.sketch {
  width: 100%;
  margin: auto;
  background: rgb(55, 96, 130);
  color: white;
}

.sketch .more-full {
  padding: 2rem 0;
}

/*branding*/
.branding {
  width: 100%;
  margin: auto;
}

.branding-section {
  padding-bottom: 3rem;
}

.final-logos {
  width: 88%;
  display: block;
  margin: auto;
  padding-top: 1rem;
  float: left;
}

.final-logos img {
  width: 100%;
}


.coop-logo-formation {
  width: 40%;
  margin: 0 auto;
  display: block;
  padding: 1rem;
}

.colors {
  clear: both;
  width: 100%;
}

.colors ul {
  padding: 0;
  float: none;
  margin: auto;
}

.colors li {
  display: block;
}

.colors .third {
  padding: 0;
}


.type h3 {
  width: 100%;
}

ul.type-fonts {
  padding: 0;
}

.type li {
  padding-bottom: 2rem;
  display: block;
}

.h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 28px;
}

.body {
  font-family: 'Lora', serif;
}


/* prototype */
.prototype {
  width: 100%;
  margin: auto;
}

.prototype-images {
  padding: 0;
  margin: 0 auto;
}

.prototype li {
  display: block;
}

.prototype-page {
  padding: 1rem 0;
}



/* Media Queries */
@media screen and (min-width: 600px) {
  .inspo {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  p {
    font-size: 16px;
    line-height: 25px;
  }

  .hero-text {
    padding: 0;
    padding-bottom: 2rem;
  }

  .user-research h3, .user-research p {
    margin: 0;
    width: 100%;
  }

  .more-full, .full, .final-logos  {
    width: 100%;
    float: none;
    clear: both;
  }

  .competition .inspo {
    clear: both;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .environment .first, .environment .second {
    display: block;
    width: 100%;
    padding-left: 0;
   }

  .environment ul {
    float: left;
    padding-left: 0;
  }

  .environment p {
    font-size: 20px;
    line-height: 30px;
  }

  .john .second, .elaine .first, .marta .second {
    display: none;
  }

  .colors ul {
    padding: 0;
    margin: auto;
  }

   .colors img {
    width: 50%;
  }

  .colors img.third {
    width: 50%;
    display: inline-block;
    float: left;
    clear: none;
  }

  .final-logos img {
    padding: 1rem 2.5rem;
    width: 80%;
    float: left;
  }

  .coop-logo-formation {
    width: 60%;
  }

  .type, .type h3 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul.type-fonts {
    float: left;
    padding: 0;
  }

  .sketch .third {
    width: 100%;
    display: block;
    float: none;
    margin: 0 auto;
    padding: .5rem 0;
  }
}

@media screen and (max-width: 425px) {
  .third {
    width: 100%;
    float: none;
    clear: both;
  }

  .case-hero {
    padding: 0;
  }

  .user-research {
    margin: 0 auto;
    width: 100%;
  }

  .user-boxes img {
    padding: 1rem 0;
    width: 100%;
    float: left;
  }

  .environment {
    padding: 0;
  }

  .environment .first ul, .user-research .second ul {
    padding: 0;
  }

  .type, .type h3 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .type li {
    padding: 1rem 0;
  }

  .first, .second {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    float: left;
    padding: 1rem;
  }

  .colors .third {
    width: 45%;
    display: inline-block;
    float: left;
  }

  .full {
    padding: 2rem 0;
  }

  .sketching, .prototype-container, .competition, .user-research {
    padding: 3rem 0;
  }

  .navigation .case-studies .second, .navigation .case-studies .first {
    width: 100%;
  }

}
