.case-hero {
  height: 100%;
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

.hero img {
  margin: 0 auto;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-text {
  padding: 0 4rem;
  padding-bottom: 2rem;
}

.case-study-button {
  text-decoration: none;
  margin: 0 auto;
  display: block;
}

a {
  text-decoration: none;
}

/* images */
.full {
  width: 65%;
  margin: auto;
  display: block;
  /*padding: 2rem;*/
}

.more-full {
  width: 100%;
  display: block;
  margin: auto;
  /*padding: 3rem;*/
}

.first {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 1rem;
  clear: both;
}

.second {
  width: 50%;
  display: inline-block;
  float: right;
  padding: 1rem;
  clear: none;
}


.third {
  width: 33%;
  display: inline-block;
  float: left;
  clear: none;
  padding: 1rem;
}

.sixth {
  width: 16%;
  display: inline-block;
  float: left;
  clear: none;
  margin: 0 auto;
}

/* Throughout the page*/
section {
  clear: both;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.intro h2, .intro h3, .intro p, .user-research h3, .user-research p, .users h3, .conclusion,  .info-arch h3,
.info-arch h2, .info-arch p, .sketch h2, .sketch h3, .branding h2, .branding h3,
.prototype h2, .prototype h3, .prototype p, .membership p {
    margin: 0 auto;
    width: 65%;
    padding-bottom: 1rem;
}

.intro-text, .competition, .user-research, .users, .mapping, .flows, .sketching,
.case-logos, .colors, .other-branding, .prototype-container, .conclusion-container {
  padding: 5rem 0;
  clear: both;
}

/*competition*/
.competition .inspo {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  float: none;
}

.competition p {
  clear: both;
}


/* user research*/
.user-research {
  padding-bottom: 0;
}

.user-research ul {
  padding: 0;
  width: 100%;
  margin-top: 0;
}

.user-research li {
  display: list-item;
  font-size: 20px;
  line-height: 30px;
}

.user-research p {
  clear: both;
}

.options {
  padding-bottom: 15rem;
  background: rgb(172,216,217);
  background: linear-gradient(132deg, rgba(172,216,217,1) 27%, rgba(212,176,140,1) 80%,
  rgba(224,106,77,1) 100%);
  }
}

.options ul {
  padding: 0;
  width: 100%;
}

.options li {
  font-size: 20px;
  line-height: 30px;
  display: list-item;
}

.options-container {
  margin: auto;
  width: 80%;
  display: block;
  height: 100%;
  padding-bottom: 20vh;
}

.options .first, .options .second {
  width: 48%;
}

.options .first {
  display: inline-block;
  float: left;
  padding-right: 1rem;
  margin-right: .5rem;
}

.options .second {
  display: inline-block;
  float: right;
  position: relative;
  padding-left: 1rem;
  margin-left: .5rem;
}

/* users */

.user-boxes {
  width: 80%;
  margin: auto;
  display: block;
}

.john .second, .elaine .first, .marta .second {
  padding: 1rem;
  padding-bottom: 5rem;
}

/*information architecture*/
.mapping {
  width: 80%;
  margin: 0 auto;
}

.mapping h3 {
  clear: both;
}

#smaller {
  height: 300px;
  width: auto;
  margin-left: 3rem;
}

/*branding*/
.branding {
  width: 100%;
  margin: 0 auto;
}

.final-logos {
  width: 65%;
  display: block;
  margin: auto;
  clear: both;
}

.final-logos img {
  padding-left: 4rem;
  padding-right: 4rem;
}

.coop-logo-formation {
  width: 40%;
  margin: 0 auto;
  display: block;
  padding: 1rem;
}

.colors {
  clear: both;
}

.colors ul {
  display: inline-block;
  padding: 1rem;
  float: none;
  width: 100%;
}

.other-branding {
  clear: both;
  width: 80%;
  margin: auto;
  display: block;
}

.type {
  display: inline-block;
  float: left;
  padding: 1rem;
}

.type li {
  padding-bottom: 2rem;
}

.h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 28px;
}

.body {
  font-family: 'Lora', serif;
}

/* prototype */
.prototype {
  padding-bottom: 15rem;
}

.prototype-images {
  clear: both;
  width: 80%;
  padding: 0;
  margin: 0 auto;
  float: none;
}

.membership {
  clear: both;
}

.arrows {
  width: 90%;
  margin: auto;
}

.arrows img {
  height: 40px;
  margin: 1rem;
}

.right {
  float: right;
}

.navigation .case-studies .first {
  padding: 3rem;
  background: rgb(89,51,75);
  background: linear-gradient(166deg, rgba(89,51,75,1) 0%,
  rgba(165,137,154,1) 62%, rgba(89,51,75,1) 100%);
}

.navigation .case-studies .second {
  padding: 3rem;
  background: rgb(172,216,217);
  background: linear-gradient(132deg, rgba(172,216,217,1) 27%, rgba(212,176,140,1) 80%, rgba(224,106,77,1) 100%);
}

.coop-case-study header, .prototype, .box {
  background: rgb(172,216,217);
  background: linear-gradient(132deg, rgba(172,216,217,1) 27%, rgba(212,176,140,1) 80%, rgba(224,106,77,1) 100%);
}


/* Media Queries */
@media screen and (min-width: 600px) {
  .inspo {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .intro h2, .intro h3, .intro p, .user-research, .users, .conclusion,  .info-arch h3,
  .info-arch h2, .info-arch p, .sketch h2, .sketch h3, .branding h2, .branding h3,
  .prototype h2, .prototype h3, .prototype p, .membership p {
    width: 95%;

  }

  .more-full, .full, .third {
    width: 100%;
    float: none;
    clear: both;
  }

  .third {
    padding: 0;
  }

  .competition .inspo {
    clear: both;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .competition .box {
    display: none;
  }

  .user-boxes {
    width: 80%;
    margin: auto;
  }

  .first, .second {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    float: left;
    padding:1rem;
  }

  .options {
    padding-bottom: 30rem;
  }
  .options .first, .options .second {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  .options ul {
    float: left;
  }

  .john .second, .elaine .first, .marta .second {
    display: none;
  }

   .colors img {
    width: 50%;
  }

  .final-logos img {
    padding: 3rem;
  }

  .type, {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  p {
    font-size: 16px;
    line-height: 25px;
  }

  .hero-text {
    padding: 0;
    padding-bottom: 2rem;
  }

  .intro h2, .intro h3, .intro p, .intro-text img, .intro-text, .user-research li,
  .conclusion,  .info-arch h3, .info-arch h2, .info-arch p, .sketch h2, .sketch h3,
  .branding h2, .branding h3, .membership p, h4 {
      width: 100%;
  }

  .intro-text, .competition, .user-research, .users, .mapping, .flows, .sketching,
  .case-logos, .colors, .other-branding, .prototype-container, .conclusion-container {
    padding: 1rem 0;
  }

  .user-research {
    margin: 0;
    width: 100%;
  }
/*
  .options {
    padding: 0;
  }

  .options .first ul, .user-research .second ul {
    padding: 0;
  }

  .user-research li, .options .first li, .user-research .second li {
    padding: 0;
    line-height: 25px;
    font-size: 16px;
    display: list-item;
  }
*/
  .user-research li span {
    font-size: 20px;
  }

  .user-boxes img {
    padding: 1rem 0;
  }

  .full {
    padding: 0;
  }
}
