nav li a:hover {
  box-shadow: 0px 3px #6654f152;
}

#container {
  width: 90%;
}

/* home-hero*/

.hero {
  padding: 5rem 0;
}

.home-hero {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 5rem;
  color: #2f2f2f;
}

.hero h1 {
  width: 80%;
}

.hero button {
  margin-top: 1rem;
}

#intro {
  width: 50%;
  float: left;
}

/* project list */
#projects {
  clear: both;
  width: 100%;
  margin: auto;
  padding: 5rem 0;
}

#color {
  font-weight: bold;
}

#color::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  margin-top: -5px;
  margin-left: 0px;
}

p {
  margin-top: 0;
}

.section {
  padding-bottom: 5rem;
}

.project-1 img {
  box-shadow: 2px 0px 4px 0px #e6dfdf;
  width: 100%;
}

.project-1 {
  width: 33%;
  display: inline-block;
  float: left;
  clear: none;
}

.project-2 {
  width: 60%;
  display: inline-block;
  float: right;
  clear: none;
}

#projects img:hover {
  opacity: .5;
}

#contact {
  background: #eaccf8;
}

/*Media Queries*/
@media screen and (max-width: 425px) {
  .home-hero, .contact-text {
    padding: 0;
    width: 80%;
  }

  #intro {
    width: 100%;
  }

  .hero, #projects {
    padding: 3rem 0;
  }

  .projects {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .hero h1 {
    width: 100%;
  }

  .project-1, .project-2 {
    width: 100%;
    display: block;
    margin: 0 auto;
    float: left;
  }

  .section {
    padding-bottom: 3rem;
  }
}
