
#container {
  width: 90%;
}

p {
  margin-top: 0;
}

/* hero*/
nav li a {
  color: white;
}

nav li a:hover {
  color: #751B4F;
  font-weight: bold;
}

.hero {
  padding: 20vh 40px;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.hero a {
  color: white;
}

#intro {
  width: 50%;
  float: left;
}

.hero p {
  line-height:40px;
}

/* project list */
.section a {
  color: #751B4F;
  text-decoration: underline;
}

#projects {
  clear: both;
  width: 100%;
  margin: auto;
  padding: 5rem 0;
}

#color {
  font-weight: bold;
}

/*#color::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  margin-top: -5px;
  margin-left: 0px;
}*/

.section {
  padding-bottom: 5rem;
}

.project-1 img {
  box-shadow: 2px 0px 4px 0px #e6dfdf;
  width: 100%;
}

.project-1 {
  width: 33%;
  display: inline-block;
  float: left;
  clear: none;
}

.project-2 {
  width: 60%;
  display: inline-block;
  float: right;
  clear: none;
}

#projects img:hover {
  opacity: .5;
}


#contact h2 {
  font-size: 36px;
  line-height: 50px;
}


/*Media Queries*/
@media screen and (max-width: 425px) {
  .home-hero, .contact-text {
    padding: 0;
    width: 80%;
  }

  button {
    display: none;
  }

  #intro {
    width: 100%;
  }

  .hero, #projects {
    padding: 3rem 0;
  }

  .hero p {
    line-height: normal;
  }

  .projects {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .hero h1 {
    width: 100%;
  }

  .project-1, .project-2 {
    width: 100%;
    display: block;
    margin: 0 auto;
    float: left;
  }

  .section {
    padding-bottom: 3rem;
  }
}
