*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

html {
  height: 100%;
  font-size: 100%;
}

body {
  background-color: #FFFCFC;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  line-height: 30px;
}

header {
  background: rgb(102,191,145);
  background: linear-gradient(166deg, rgba(102,191,145,1) 0%,
  rgba(245,203,205,1) 65%,
  rgba(251,234,89,.5) 100%);
  padding-top: 3rem;
  padding-bottom: 5rem;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

main {
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  line-height: 58px;
}

h1, h2 {
  font-family: 'Rozha one', serif;
  min-height: 100%;
}

h2 {
  font-size: 36px;
  line-height: 46px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  line-height: 40px;
  min-height: 100%;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
}

p {
  font-size: 20px;
  line-height: 30px;
}

a {
  color: #2f2f2f;
  text-decoration-color: #950444;
}

a:hover {
  color: #950444;
  font-weight: 700;
  text-decoration-color: #950444;
}

.clearfix {
  clear: both;
}

/*other universal features*/
button {
  background: #66BF91;
  color: white;
  padding: 15px;
  border: 0;
  font-size: 20px;
}

button:hover {
  background: #950444;
  border: white;
}

.contact {
  clear: both;
  margin: 0 auto;
  padding-bottom: 15rem;
  padding-top: 10rem;
  width: 80%;
}

/* NAV BAR*/
nav {
  height: 100px;
  padding-top: 0.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 0;
  z-index: 1;
}

nav .hamburger {
  display: none;
}

nav .closebtn {
  display: none;
}

.logo {
  padding: 50px;
}

.logo img {
  height: 45px;
}

ul#topnav.nav-bar {
  float: right;
}

nav li {
  display: block;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.05rem;
}

nav li a {
  text-decoration: none;
  color: #2f2f2f;
}

nav li a:hover {
  font-weight: 700;
  color: #6ABE93;
}


/* Footer */
.footer-info {
  background-color: #6ABE93;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0 10px;
}

.footer-info p {
  padding-right: 1rem;
  color: #eaeaea;
  font-size: 16px;
}

.footer-info .icons {
  display: inline-block;
  float: left;
  padding: 0;
}

.footer-info .icons li {
  display: inline-block;
  float: left;
}

.icons li a i {
  color: white;
  font-family: FontAwesome;
  font-size: 30px;
}

.icons li a i:hover {
  color: #950444;
}

.copyright {
  display: inline-block;
  float: right;
}




/* MEDIA Queries */
/*nav bar*/
@media screen and (max-width: 600px) {
  h1 {
    line-height: 3rem;
  }

  .nav-bar a {
    display: none;
  }

  nav li {
    height: 20%;
    padding-top: 3.5rem;
  }

  nav.hamburger a:not(:first-child) {
    display: none;
  }
  nav a.hamburger {
    float: right;
    display: block;
    margin-right: 2rem;
  }

  .nav-bar.responsive {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #6ABE93;
    transition: .3s;
  }

  .nav-bar.responsive a:hover {
    font-weight: bold;
    color: #950444;
  }

  .nav-bar.responsive a.hamburger {
    float: right;
    display: block;
    margin-top: 3.5rem;
    margin-right: 2.5rem;
  }

  .nav-bar.responsive li a {
    clear: both;
    text-decoration: none;
    float: none;
    display: block;
    text-align: right;
    padding-top: 1rem;
    font-size: 30px;
    margin-right: 1.5rem;
 }

/*other*/
  h1, .hero p{
    padding-left: 0;
    padding-right: 0;
  }

  main {
    width: 100%;
  }

  /*footer*/
  .footer-info {
    padding: 20px;
  }

  .footer-info .copyright {
    display: none;
  }

  .footer-info ul.icons {
    margin: 0 auto;
    float: none;
    padding-left: 4rem;
  }

  .footer-info .icons li {
    float: none;
    margin: 0 auto;
  }

}

@media screen and (min-width: 600px) {
  nav li {
    display: inline-block;
  }
}

@media screen and (max-width: 425px) {
  nav {
    width: 80%;
    padding: 0;
    margin: auto;
  }

  h1 {
    margin-top: 0;
  }


  p {
    font-size: 16px;
    line-height: 25px;
  }

  .logo {
    padding: 0;
  }

  .hero {
    padding: 0;
  }
}
