*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

html {
  font-size: 100%;
}

header {
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 40%, #EACCF8 49%, #6654F1 100%);
  width: 100%;
}

.hero {
  width: 100%;
  margin: auto;
}

#container {
  width: 56%;
  margin: auto;
}

.part {
  padding: 5rem 0;
}


/*typograohy*/
b {
  font-weight: bold;
}

body {
  background-color: #FdFdFd;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
}

h1 {
  font-family: 'circular std', sans-serif;
  min-height: 100%;
  font-size: 64px;
  line-height: 72.6px;
  margin: 0;
  font-weight: 500;
}

h2 {
  font-family: "circular std", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 67.2px;
  min-height: 100%;
  margin: 0;
}

h3 {
  font-family: "quicksand", sans-serif;
  font-size: 30px;
  line-height: 50.4px;
  /* min-height: 100%; */
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  font-family: "circular std", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  letter-spacing: 1.1px;
}

#caption {
  font-size: 16px;
  line-height: 23px;
  color: #8D8D8D;
  text-transform: uppercase;
  font-weight: 100;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

a:hover {
  color: #1f1f1f;
  font-weight: 700;
  background: ;
  cursor: pointer;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

#spacing-fix {
  padding-top: 1rem;
}

#video {
  margin: auto;
  width: 90%;
}


/*other universal features*/
button {
  background: none;
  padding: 10px 20px;
  border-style: solid;
  border-radius: 30px;
  font-size: 20px;
  border-width: 1px;
  border-color: #333333;
}

button:hover {
  background: #0f0c0f;
  color: white;
  border-color: #2f2f2f;
  cursor: pointer;
  text-decoration: none;
}

#contact {
  clear: both;
  width: 100%;
  padding: 3rem 0 .5rem;
}

.contact-text {
  float: left;
}

.navigation {
  padding-bottom: 3rem;
}

/* images */
.first, .second {
  width: 48%;
  display: inline-block;
  float: left;
}

.first img, .second img {
  display: inline;
  width: ;
}

.second {
  float: right;
}

.second button a:hover {
  background: none;
}

.third {
  width: 33%;
  display: inline-block;
  float: left;
  clear: none;
  padding: 0 .5rem;
}

.one-third {
  width: 33%;
  display: inline-block;
  float: right;
  clear: none;
}

.two-thirds {
  width: 63%;
  display: inline-block;
  float: left;
  clear: none;
}

.sixth {
  width: 20%;
  display: inline-block;
  float: left;
  clear: none;
  margin: 0 auto;
}

.full {
  width: 100%;
  margin: auto;
  display: block;
}

.more-full {
  width: 100%;
  display: block;
  margin: auto;
}


/* NAV BAR*/
nav {
  padding-top: 8px;
  padding-right: 0.5rem;
  padding-bottom: 0;
  z-index: 1;
}

nav .hamburger {
  display: none;
  box-shadow: none;
}

nav .closebtn {
  display: none;
}

.logo {
  padding-left: 1rem;
}

.logo img {
  width: 100px;
}

ul#topnav.nav-bar {
  float: right;
  padding: 0;
  margin: 5px 0;
}

nav li {
  display: block;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.05rem;
}

nav li a {
  text-decoration: none;
  color: #2f2f2f;
  box-shadow: none;
  font-weight: 100;
}

nav li a:hover {
  font-weight: 300;
  cursor: pointer;
  color: #000000;
}


/* Footer */
.footer-container {
  width: 93%;
  margin: auto;
}

.footer-info {
  width: 100%;
  position: ;
  bottom: 0;
  background: #fdfdfd;
}

.footer-info p {
  color: #2f2f2f;
  font-size: 12px;
  margin: 20px;
  text-align: right;
  width: 50%;
  float: right;
}

.footer-info .icons {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 7px;
}

.footer-info .icons li {
  display: inline-block;
  float: left;
  padding: 10px;
}

.icons li a {
  box-shadow: none;
  background: none;
}

.icons li a i {
  color: #2f2f2f;
  /*font-family: 'Font Awesome 5 Free';*/
  font-size: 30px;
}

.icons li a i:hover {
  color: #000;
}


.copyright {
  display: inline-block;
  float: right;
}




/* MEDIA Queries */
@media screen and (max-width: 310px) {
  .buttons button {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 425px) {
  #container {
    width: 90%;
  }

  #no-mobile {
    display: none;
  }

  .navigation {
    padding: 0;
  }

  h1 {
  font-size: 42px;
  line-height: 40px;
  letter-spacing: 2px;
  }

  p, body {
    font-size: 16px;
    line-height: 25px;
  }

  .logo {
    padding: 0;
  }

  .hero {
    padding: 0;
    margin: auto;
  }

  .first, .second {
    width: 100%;
    display: block;
    margin: 0 auto;
    float: left;
    padding-bottom: 3rem;
  }
}




@media screen and (max-width: 600px) {
  .nav-bar a {
    display: none;
  }

  nav li {
    height: 20%;
    padding-top: 5rem 0 3rem;
  }

  nav.hamburger a:not(:first-child) {
    display: none;
  }

  nav a.hamburger {
    float: right;
    display: block;
    margin-right: 2rem;
    box-shadow: none;
  }

  .nav-bar.responsive {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #eaccf8;
    transition: .3s;
    margin-top: 0;
  }
  .nav-bar.responsive li {
    display: block;
  }

  .nav-bar.responsive a:hover {
    cursor: pointer;
    padding-bottom: 3rem;
  }

  .nav-bar.responsive a.hamburger {
    float: right;
    display: block;
    margin-top: .5rem;
    margin-right: 2.5rem;
  }

  .nav-bar.responsive li a {
    text-decoration: none;
    box-shadow: none;
    display: block;
    text-align: center;
    font-size: 45px;
    line-height: 55px;
 }

 /*other*/
  .part {
    padding: 3rem 0;
  }

  .contact-text {
    float: none;
  }
  /*footer*/
  .footer-info {
    padding: 0;
  }

  .footer-info p {
    display: none;
  }

  .footer-info ul.icons {
    margin: 0;
    float: none;
    display: block;
    text-align: center;
  }

  .footer-info .icons li {
    float: none;
  }

}

@media screen and (min-width: 600px) {
  nav li {
    display: inline-block;
  }
}
