*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

html {
  height: 100%;
  font-size: 100%;
}

body {
  background-color: #FFFCFC;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  line-height: 25px;
}

header {
  background: rgb(102,191,145);
  background: linear-gradient(166deg, rgba(102,191,145,0.67) 0%,
  rgba(245,203,205,0.78) 65%,
  rgba(251,234,89,0.38) 100%);
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.logo {
  padding: 50px;
}

.hero {
  width: 80%;
  margin: 0 auto;
}

.hero p {
  padding-right: 5rem;
  padding-left: 5rem;
}

.contact {
    margin: 0 auto;
    padding: 5rem;
}

main {
  margin: 0 auto;
}

section {
  clear: both;
  margin-top: 20px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}


h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

h1, h2 {
  font-family: 'Rozha one', serif;
  min-height: 100%;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: black;
  min-height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1rem;
}

p {
  font-size: 1.2rem;
}

a {
  color: black;
}

a:hover {
  color: #950444;
}


/* NAV BAR*/
nav {
  height: 100px;
  padding-top: 0.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 0;
  z-index: 1;
}

nav .hamburger {
  display: none;
}

nav .closebtn {
  display: none;
}

.logo img {
  height: 75px;
}

ul {
  float: right;
}

li {
  display: block;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.05rem;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  font-weight: 700;
  color: #6ABE93;
}

/*other universal features*/
button {
  background: #66BF91;
  color: white;
  padding: 15px;
  border: 0;
}

button:hover {
  background: #950444;
}

.contact {
  padding-bottom: 12rem;
  padding-top: 10rem;
}

/* Footer */
.footer-info {
  background-color: #6ABE93;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0 10px;
}

.footer-info p {
  padding-right: 1rem;
  color: #eaeaea;
}

.footer-info .icons {
  display: inline-block;
  float: left;
  padding: 0;
}

.footer-info .icons li {
  display: inline-block;
  float: left;
}

.icons li a i {
  color: white;
  font-family: FontAwesome;
  font-size: 30px;
}

.icons li a i:hover {
  color: #950444;
}

.copyright {
  display: inline-block;
  float: right;
}



/* MEDIA Queries*/
/*nav bar*/
@media screen and (max-width: 600px) {
  h1 {
    line-height: 3rem;
  }

  .nav-bar a {
    display: none;
  }

  nav li {
    height: 20%;
    padding-top: 3.5rem;
  }

  nav.hamburger a:not(:first-child) {
    display: none;
  }
  nav a.hamburger {
    float: right;
    display: block;
    margin-right: 2rem;
  }

  .nav-bar.responsive {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #6ABE93;
    transition: .3s;
  }

  .nav-bar.responsive a:hover {
    font-weight: bold;
    color: #950444;
  }

  .nav-bar.responsive a.hamburger {
    float: right;
    display: block;
    margin-top: 3.5rem;
    margin-right: 2.5rem;
  }

  .nav-bar.responsive li a {
    clear: both;
    text-decoration: none;
    float: none;
    display: block;
    text-align: right;
    padding-top: 1rem;
    font-size: 30px;
    margin-right: 1.5rem;
 }


/*other*/
  h1, .hero p{
    padding-left: 0;
    padding-right: 0;
  }

  main {
    width: 100%;
  }

  /*footer*/
  .footer-info .copyright {
    display: none;
  }

  .footer-info ul.icons {
    margin: 0 auto;
    padding: 2rem;
    float: none;
  }

  .footer-info .icons li {
    float: none;
    margin: 0 auto;
  }

}

@media screen and (min-width: 600px) {
  nav li {
    display: inline-block;
  }
}
