.hero img {
  margin: 0 auto;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-text {
  padding-bottom: 2rem;
}

.case-study-button {
  text-decoration: none;
  margin: 0 auto;
  display: block;
}

/* images */
.full {
  width: 65%;
  margin: auto;
  display: block;
  padding: 2rem;
}

.more-full {
  width: 77.6041666666667%;
  display: block;
  margin: auto;
  padding: 2rem;
}

.first {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 1rem 10rem;
  padding-right: .5rem;
}

.second {
  width: 50%;
  display: inline-block;
  float: right;
  padding: 1rem 10rem;
  padding-left: .5rem;
  clear: none;
}


.third {
  width: 33%;
  display: inline-block;
  float: left;
  clear: none;
  padding: 1rem;
}

.sixth {
  width: 16.37%;
  display: inline-block;
  float: left;
  clear: none;
  padding: .5rem;
  margin: 0 auto;
}

section {
  clear: both;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.intro h2, .intro h3, .intro p, .user-research li, .conclusion,  .info-arch h3,
.info-arch h2, .info-arch p, .sketch h2, .sketch h3, .branding h2, .branding h3,
.prototype h2, .prototype h3, .membership p {
    margin: 0 auto;
    width: 65%;
    padding-bottom: 1rem;
}


/*competition*/
.competition .inspo {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  float: none;
}

.competition p {
  clear: both;
}

.box p {
  padding: 0;
}
/*
.competition .box {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(89,51,75);
  background: linear-gradient(166deg, rgba(89,51,75,1) 0%,
  rgba(165,137,154,1) 62%, rgba(89,51,75,1) 100%);
}

.intro h2, .intro h3 {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.intro p {
  clear: both;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;


.survey-results p {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.survey-results ul {
  margin-bottom: 0;
}

.survey-results li {
  display: block;
  margin-left: 15rem;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.05rem;
  text-decoration: none;
  float: left;
  width: 50%;
}*/

/*user research*/
.user-research .survey-results {
  margin-top: 3rem;
}

.user-research ul {
  padding: 0;
  width: 95%;
  margin-top: 0;
}

.user-research li span {
  font-family: "Rozha one", serif;
  font-size: 1.5rem;
}

.user-research p {
  clear: both;
}

/* users*/
.user-boxes {
  width: 100%;
  margin: auto;
  display: block;
}

/*branding*/
.final-logos {
  width: 65%;
  display: block;
  margin: auto;
  clear: both;
}

.final-logos img {
  padding-left: 4rem;
  padding-right: 4rem;
}

.colors {
  clear: both;
  width: 100%;

}

.colors ul {
  display: inline-block;
  padding: 1rem;
  float: none;
  width: 100%;
}

.colors img {
  width: 20%;
  display: inline-block;
  float: left;
}

.other-branding {
  clear: both;
  width: 77.6041666666667%;
  margin: auto;
  display: block;
}

.type img {
  width: 100%;
  display: inline-block;
  float: left;
  padding: 1rem;
}

.type {
  width: 60%;
  display: inline-block;
  float: left;
  padding: 1rem;
}

.button {
  display: inline-block;
  float: left;
  padding: 1rem;
  clear: none;
  width: 30%;
}

.button img {
  width: 50%;
}

.mock {
  clear: both;
  margin: 0;
}

.mock img {
  margin: 0 auto;
  width: 65%;
  width: 100%;
}


.user-feedback {
  width: 65%;
  display: block;
  margin: auto;
}

/*
.prototype {
  width: 100%;
  margin: 0 auto;
}

.prototype h2, .prototype p {
  width: 80%;
  padding-left: 5rem;
  padding-right: 5rem;
  display: block;
  margin: 0 auto;
}*/

.prototype h3 {
  color: white;
}

.prototype-images {
  clear: both;
  width: 77.6041666666667%;
  padding: 0;
  margin: 0 auto;
  float: none;
}

.membership {
  clear: both;
}

.arrows {
  width: 90%;
  margin: auto;
}

.arrows img {
  height: 40px;
}

.right {
  float: right;
}

.navigation .case-studies .first {
  padding: 3rem;
  background: rgb(89,51,75);
  background: linear-gradient(166deg, rgba(89,51,75,1) 0%,
  rgba(165,137,154,1) 62%, rgba(89,51,75,1) 100%);
}

.navigation .case-studies .second {
  padding: 3rem;
  background: rgb(229,58,32);
  background: linear-gradient(112deg, rgba(229,58,32,1) 0%, rgba(212,176,140,1) 38%,
  rgba(172,216,217,1) 100%);
}

.rfs-case-study header, .prototype, .box, .inspo {
  color: white;
  background: rgb(89,51,75);
  background: linear-gradient(166deg, rgba(89,51,75,1) 0%,
  rgba(165,137,154,1) 62%, rgba(89,51,75,1) 100%);
  }
}


/* Media Queries */
@media screen and (min-width: 600px) {
  .inspo {
    width: 100%;
  }
  .inspo img {
    width: 15%;
  }
}

@media screen and (max-width: 783px) {
  .intro, .conclusion, .competition p, .competition h3, .user-research, .info-arch h3,
  .info-arch h2, .info-arch p, .sketch h2, .sketch h3, .branding h2, .branding h3,
  .prototype h2, .prototype h3, .users h3, .user-feedback, .membership p {
    width: 80%;
  }

  .more-full, .full, .third {
    width: 100%;
    float: none;
    clear: both;
  }

  .competition .inspo {
    clear: both;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .competition .inspo img {
    width: 33%;
  }

  .competition .box {
    display: none;
  }

  .third {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 1rem;
    margin-bottom: 1rem;
    clear: none;
  }

  .user-boxes {
    width: 100%;
    margin: auto;
  }

  .first, .second {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    float: left;
    padding: 1rem;
  }

   .colors img {
    width: 50%;
  }

  .final-logos img {
    padding: 3rem;
  }

  .type, .button {
    width: 100%;
  }

  .other-branding {
    clear: both;
    width: 100%;
    margin: auto;
  }


}
