.case-study header, .prototype {
  color: white;
  background: rgb(89,51,75);
  background: linear-gradient(166deg, rgba(165,137,154,1) 20%,
  rgba(89,51,75,1) 89%)
}

.case-hero {
  color: #eaeaea;
}

.nav-bar a {
  color: white;
}

/* page sizes */
.intro h2, .intro h3, .intro p, .user-research li, .conclusion,  .info-arch h3,
.info-arch h2, .info-arch p, .sketch h2, .sketch h3, .branding h2, .branding h3,
.prototype h2, .prototype h3, .membership p, h4, .users h3 {
    margin: 0 auto;
    width: 65%;
}

.intro-text, .competition, .user-research, .users-container, .info-arch-container, .sketching,
.prototype-container, .conclusion-container {
  padding: 5rem 0;
  clear: both;
}

/*intro */
.intro-text {
  background: rgba(89,51,75,1);
  color: #eaeaea;
}

.competition { /* maybe the gradient but inverse? */
  background: rgba(163, 134, 152, 0.25);
}

.inspo li {
  display: block;
}


/* user research */
.user-research ul {
  padding: 2rem 0;
}

.user-research li {
  font-size: 20px;
  line-height: 40px;
  display: block;
}

.user-research li span {
  font-family: "Rozha one", serif;
  font-size: 2.5rem;
  color: rgba(89,51,75,1);
  display: inline-block;
  text-align: right;
  width: 20%;
  width: 20%;
  margin-right: 15px;
  line-height: 40px;
}

.user-research p {
  clear: both;
}


/*challenges & solutions */
.environment {
  color: white;
  background: rgb(89,51,75);
  background: linear-gradient(166deg, rgba(89,51,75,1) 0%,
  rgba(165,137,154,1) 62%, rgba(89,51,75,1) 100%);
}

.environment-container {
  margin: auto;
  width: 80%;
  display: block;
  height: 100%;
  padding: 5rem 0;
}

.environment .first, .environment .second {
  width: 48%;
  display: inline-block;
}

.environment h3 {
  color: white;
}

.environment p {
  margin: 0;
}

.environment .first {
  float: left;
}

.environment .second {
  float: right;
  position: relative;
}

.environment ul.survey {
  width: 100%;
}

.environment li {
  display: list-item;
}


/* users*/
.user-boxes {
  width: 80%;
  margin: auto;
  display: block;
}

/*info arch */
.info-arch {
  background: rgb(232, 223, 227);
}

/* sketch */
.sketch {
  background: rgb(89,51,75);
  color: white;
}

/*branding*/
.branding-container {
  padding: 5rem 0;
}

.final-logos {
  width: 65%;
  display: block;
  margin: auto;
}

.final-logos {
  padding-bottom: 3rem;
}

.final-logos img.second {
  width: 35%;
}

.colors {
  clear: both;
  width: 100%;
}

.colors ul {
    padding: 0;
    float: none;
    width: 65%;
    margin: auto;
}

.colors li {
  display: block;
}

.colors .third {
  padding: 0;
}

.other-branding {
  clear: both;
  width: 65%;
  margin: auto;
  display: block;
}

.type img {
  width: 100%;
  display: inline-block;
  float: left;
  padding: 1rem;
}

.type {
  width: 60%;
  display: inline-block;
  float: left;
  padding-bottom: 2rem;
}

.type h3, .button h3, .mock h3 {
  width: 100%;
}

.button {
  display: inline-block;
  float: left;
  padding: 1rem;
  clear: none;
  width: 30%;
}

.button img {
  width: 65%;
}

.mock {
  clear: both;
  margin: 0;
}

.mock img {
  margin: 0 auto;
  width: 65%;
  width: 100%;
}


/*prototype*/
.user-feedback {
  width: 65%;
  display: block;
  margin: auto;
  padding-bottom: 1rem;
}

.user-feedback h3 {
  width: 100%;
}

.quotes {
  margin: auto;
  display: block;
}

.quotes p {
  padding: 0 1rem;
  font-size: 16px;
}

.prototype h3 {
  color: white;
}

.prototype-images {
  clear: both;
  width: 80%;
  padding: 0;
  margin: 0 auto;
  float: none;
}

.prototype li {
  display: block;
}

.landing-page, .about-page {
  padding-bottom: 1rem;
}




/* Media Queries */
@media screen and (min-width: 600px) {
  .inspo {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .hero-text, .intro h2, .intro h3, .intro p, .conclusion, .competition p,
  .competition h3, .user-research, .info-arch h3, .branding h2, .branding h3,
  .info-arch h2, .info-arch p, .sketch h2, .sketch h3, .conclusion,
  .prototype h2, .prototype h3, .users h3, .user-feedback, .environment-container {
    width: 80%;
    margin: auto;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }

  .hero-text {
    padding: 0;
    padding-bottom: 2rem;
  }

  .user-research h3, .user-research p {
    margin: 0;
    width: 100%;
  }

  .more-full, .full, .third, .final-logos,  {
    width: 100%;
    float: none;
    clear: both;
    padding: 1;
  }

  .competition .inspo {
    clear: both;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .user-boxes {
    width: 80%;
    margin: auto;
  }

  .survey {
    padding: 0;
    width: 100%;
  }

  .user-research li {
    line-height: 30px;
    width: 100%;
  }

  .environment .first, .environment .second {
    display: block;
    width: 100%;
    padding-left: 0;
  }

  .environment ul {
    float: left;
  }

  .environment p {
    font-size: 20px;
    line-height: 30px;
  }

  .info-arch, .mapping {
    padding-bottom: 0;
  }

  .colors ul {
    padding: 0;
  }

   .colors img {
    width: 50%;
  }

  .final-logos {
    width: 80%;
  }

  .final-logos img, .final-logos img.second  {
    padding: 1rem 2.5rem;
    width: 50%;
  }

  .other-branding {
    clear: both;
    width: 80%;
    margin: auto;
  }

  .type, .button, .type img, .mock {
    width: 100%;
    padding: 1rem 0;
  }

  .other-branding h3 {
    width: 100%;
  }

  .button img {
    width: 30%;
  }


  .user-feedback h3 {
    width: 100%;
    margin: 0;
  }

}

@media screen and (max-width: 425px) {
  .intro-text h2, .intro-text p, .competition, .user-research, .users, .mapping, .flows, .sketching,
  .case-logos, .colors, .other-branding, .prototype-container, .conclusion-container {
    padding: 1rem 0;
  }

  .user-research {
    margin: auto;
  }

  .user-research ul {
    padding: 10px;
  }

  .user-research li {
    display: block;
    font-size: 20px;
  }

  .user-research li span {
    font-size: 25px;
    width: 15%;
  }

  .environment p {
    font-size: 16px;
    line-height: 20px;
  }

  .environment .first ul, .user-research .second ul {
    padding: 0;
  }


  .environment .first li, .user-research .second li {
    padding: 0;
    line-height: 25px;
    font-size: 16px;
    display: list-item;
  }

  .user-research li span {
    font-size: 25px;
  }

  .user-boxes img {
    padding: 1rem 0;
  }


  .first, .second {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    float: left;
    padding: 1rem;
  }

  .full {
    padding: 2rem 0;
  }

  .colors .third {
    width: 45%;
    display: inline-block;
    float: left;
  }

  .third {
    width: 65%;
    display: block;
    float: none;
    margin: 0 auto;
    padding: .5rem 0;
  }

  .info-arch-container {
    padding-bottom: 0;
  }

  .sketching, .prototype-container, .competition, .user-research {
    padding: 3rem 0;
  }

  .prototype h3 {
    padding-top: 1.5rem;
  }

}
